* {
	font-family: georgia;
}

header, main, footer {
	padding-left: 300px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}

.title {
	text-align:center;
	font-size: x-large;
	margin-top: 25px;
	margin-bottom: 25px
}
.section-title {
	border-bottom: 1.5px solid darkgrey;
	font-size: large;
	color: grey;
}
.section {
	margin-left: 50px;
	margin-right: 50px
}

.title, .section-title {
	font-variant: small-caps;
}

.item-title {
	font-weight: bold;
}
.item-title > .right {
	font-weight: normal;
}
.item-description {
	font-weight: italic;
	margin-top: 8px;
	margin-bottom: 8px;
}

main {
	margin-left: 50px;
	margin-right: 50px;
	max-width: 1000px;
}

li {
	list-style-type: circle !important;
	margin-bottom: 8px
}