{% extends "template.html" %}
{% block body %}
<h1>Matthew Burke</h1>
<p>
  I am a Postdoctoral Scholar at the
  <a href="https://math.ucalgary.ca">Department of Mathematics and Statistics</a> at the University of Calgary
  and a member of the <a href="http://www.ucalgary.ca/logic/cprglct">Calgary Peripatetic Research group</a> in logic and category theory.
</p>

<p>
    <div class="description">
        <div style="text-align:right;"><strong>Email:</strong></div>
        <div style="text-align:left;">matthewpatrickburke<span style="display:none">$%tefsdjj67</span>@gmail.com</div>
        <div style="text-align:right;"><strong>Photos:</strong></div>
        <div style="text-align:left;">
            <a href="static/photo.jpg">jpg1</a>,
            <a href="static/MatthewBurkeCrop.jpg">jpg2</a>
        </div>
        <div style="text-align:right;"><strong>Github:</strong></div>
        <div style="text-align:left;"><a href="https://github.com/mwpb">https://github.com/mwpb</a></div>
        <div style="text-align:right;"><strong>ORCiD</strong></div>
        <div style="text-align:left;"><a href="https://orcid.org/0000-0003-1066-5797">https://orcid.org/0000-0003-1066-5797</a></div>
        <div style="text-align:right;"><strong>Curriculum Vitae:</strong></div>
        <div style="text-align:left;">
          <a href="academic-cv/matthew-burke-cv.pdf">academic</a>
          <a href="master-cv/matthew-burke-cv.pdf">master</a>
        </div>
    </div>
</p>
{% endblock %}