/* Apply first no matter what the viewport width. */
/* This file is in three sections. */

* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 1.5;
    color: #333;
	font-size:14px;
}
a {

    color: #337ab7;
    text-decoration: none;

}
h1, h2, h3, h4 {
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
    font-weight: 500;
}
h1 {
    padding-top:30px;
    padding-bottom:30px;
    font-size: 36px;
}
h2 {
    padding-bottom:20px;
}
h3 {
    padding-bottom:10px;
    font-size: 24px;
}
p{
    margin: auto;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 75ch;
    text-align:justify;
}
ul{
    margin: auto;
    padding-bottom: 30px;
    max-width: 75ch;
    text-align:justify;
}
.footer {
	border-top: 1px lightgrey solid;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.contact-dl{
    margin: auto;
    max-width: 75ch;
}
body {
	margin: 0;
	max-width:800px;
	overflow-x: hidden;
	margin-right:auto;
	margin-left:auto;
}
.description {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 1em;
}
.centre-contents > div {
	margin-top:1.2em;
}
.centre-contents > div > a {
	color: grey;
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.navbar-items > div > a {
	color: grey;
	font-family: sans-serif;
	font-size: 14px;
	text-decoration: none;
}
.centre-contents {
	display:grid;
	align-items: center;
	justify-items: center;	
	grid-template-columns: 1fr auto 1fr;
}
.navbar-items {
	display: grid;
	grid-template-rows:1fr;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 2em;
	margin-top:1.2em;
	margin-bottom:1.2em;
}
.nav {
	border-bottom: 1px lightgrey solid;
	position:sticky;
	position: -webkit-sticky;
	top:0;
	background-color: white;
	z-index: 3;
}
@media(min-width:750px){
	/* Apply when viewport is larger than 750px. */
	.navbar-items {
	display: grid;
	grid-template-rows:1fr;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 2em;
	margin-top:1.2em;
	margin-bottom:1.2em;
}
	.desktop-item {
	}
	.mobile-item {
		display:none;
	}
}

@media(max-width:750px){
	/* Apply when the viewport is narrower than 750px. */
	.navbar-items {
	display: grid;
	grid-template-rows:1fr;
	grid-template-columns: auto auto auto auto;
	grid-gap: 2em;
	margin-top:1.2em;
	margin-bottom:1.2em;
}
	.desktop-item {
		display:none;
	}
	.mobile-item {
	}
}