body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
* {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px; /* or 950px */
}
html {
    overflow-y:scroll;
}
p{
    margin: auto;
    padding-bottom: 30px;
    max-width: 75ch;
    text-align:justify;
}
.contact-dl{
    margin: auto;
    max-width: 75ch;
}
h1, h2, h3, h4 {
    text-align: center;
}
h1 {
    padding-top:30px;
    padding-bottom:30px;
}
h2 {
    padding-bottom:20px;
}
h3 {
    padding-bottom:10px;
}
.table th {
    border-top:none !important;
}
dt {
    font-weight:normal;
}
dd {
    padding-bottom:10px;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}
.navbar-default{
    background-color:white;
}

.content-div{
    margin: auto;
    max-width: 75ch;
}