{% extends "template.html" %}
{% block body %}

<h1>Papers</h1>
<p>
<div class='description'>
  <div style="text-align:right;">2019</div>
<div>
  <strong>Involution algebroids: a generalisation of Lie algebroids for tangent categories</strong>
  <br>In preparation (joint with Ben MacAdam).
  <br>Available at <a href='./static/pdfs/involution-algebroids.pdf'>[pdf]</a>
</div>
<div style="text-align:right;">2018.02.06</div>
<div>
  <strong>A Synthetic Version of Lie's Second Theorem</strong>
  <br>Applied Categorical Structures
  <br>Available at <a href='https://doi.org/10.1007/s10485-018-9518-2'>[journal]</a>, <a href='./static/pdfs/burke-synthetic-version-lie-ii.pdf'>[arxiv]</a>
</div>
<div style="text-align:right;">2016.06.29</div>
<div>
  <strong>Connected Lie Groupoids are Internally Connected and Integral Complete in Synthetic Differential Geometry</strong>
  <br>Symmetry, Integrability and Geometry: Methods and Applications
  <br>Available at <a href='http://www.emis.de/journals/SIGMA/2017/007/'>[journal]</a>, <a href='https://arxiv.org/abs/1606.06120'>[arxiv]</a>
</div>
</div>
</p>
<p>
<h3 id='essay-and-thesis'>Essay and Thesis</h3>
<div class='description'>
        <div style="text-align:right;">2015.05.01</div>
        <div>
            <strong>Synthetic Lie Theory</strong>
            <br>Ph.D. Thesis, Macquarie University, Sydney
            <br>After minor corrections: <a href='static/pdfs/2015-09burke-thesis.pdf'>pdf</a>
        </div>
        <div style="text-align:right;">2011</div>
        <div>
            <strong>Synthetic Differential Geometry</strong>
            <br>Part III Essay, University of Cambridge
            <br>Original: <a href='static/pdfs/2011burke.pdf'>pdf</a>
        </div>
</div>
</p>
{% endblock %}