{% extends "template.html" %}
{% block body %}
<h1>Talks</h1>
<p>
	<div class='description'>
		{% for talk in talks %}
			<div>
				<b>{{ talk["institution"] }}</b> {% if talk["website"] %}<a href='{{ talk["website"] }}'>[website]</a>{% endif %} <div class="right">{{ talk["year"] }}</div><br />
			    <em>{{ talk["title"] }}</em> {% if talk["file"] %} <a href='./static/pdfs/{{ talk["file"] }}.pdf'>[pdf]</a>{% endif %}<br />
			    {{ talk["venue"] }}
			</div> <br>
		{% endfor %}
	</div>
</p>
{% endblock %}