<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<title>Matthew Burke University of Calgary Mathematics</title>
	<meta name='description' content='Personal webpage of Matthew Burke, a postdoctoral scholar at the Department of Mathematics and Statistics at the University of Calgary and a member of the Calgary Peripatetic Research group in logic and category theory.'>
	<meta name='keywords' content='mathematics matthew burke university calgary macquarie cambridge'>
	<link href="style.css" rel="stylesheet">
</head>
<body>
	<div class='nav'>
		<div class='mobile-item centre-contents'>
			<div id='padding1'></div>
			<div><a href='index.html'>Matthew Burke</a></div>
			<div id='padding2'></div>
		</div>
		<div class='centre-contents'>
			<div id='padding1'></div>
			<div class='navbar-items'>
				<div class='desktop-item'><a href='index.html'>Matthew Burke</a></div>
				<div><a href="papers.html">Papers</a></div>
				<div><a href="talks.html">Talks</a></div>
				<div><a href="writing.html">Notes</a></div>
				<div><a href="software.html">Software</a></div>
			</div>
			<div id='padding2'></div>
		</div>
	</div>
	
	{% block body %}
	{% endblock %}


	<footer class="footer">
		<a href='#'>Top of page</a>
	</footer>
</body>
</html>