{% extends "template.html" %}
{% block body %}
<h1>Notes</h1>
<h3>Eigenvectors Without Determinants</h3>
<div class="panel-body">
    <ul>
        <li><a href="introEigenvectors.html">Introduction</a></li>
        <li><a href="distinctEigenvalues.html">Distinct Eigenvalues</a></li>
        <li><a href="complexEigenvalues.html">Complex Eigenvalues</a></li>
    </ul>
</div>

<h3>Miscellaneous</h3>
<div class="panel-body">
    <ul>
    	<li><a href="inscribedTriangle/inscribed.html">Minimum Inscribed Triangle</a></li>
        <li><a href="sorites.html">Seeing Double in the Sorites Paradox</a></li>
        <li><a href="static/pdfs/KRingsSwanThm.pdf">K-Rings and the Swan Theorem</a></li>
    </ul>
</div>
{% endblock %}